test.py
__pycache__/*
AIOAladdinConnect/__pycache__/*

How to publish.txt
AIOAladdinConnect.egg-info/*
dist/AIOAladdinConnect-0.1.1.tar.gz
AIOAladdinConnect/__pycache__/*


dist/*
AIOAladdinConnect/tests/__pycache__/test_init.cpython-39-pytest-7.1.2.pyc
dist/AIOAladdinConnect-0.1.6.tar.gz
